.card-container {
  border-style: solid;
  margin: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  width: 800px;
  justify-content: flex-end;
}

.picture-card {
    margin-top: 10px;
 
  
  
}

.data-card {
  font-weight: bold;
  line-height: 1px;
  margin-left: 10px;
}
